
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" >
    <style>
        #hp{
            position:absolute;
            top: 40%;
            left: 40%;
            padding:10px 10px;
        }
    </style>
</head>
<body>
    <h2>HomePage</h2>
    <div id="hp">

        <table>
            <tr>
                <td></td>
                <td>
                    <a href="~/AdminAccount/AdminLogin"><img src="~/images/admin.jpg" height="250" width="250" /></a>
                </td>
                <td></td>
                <td>
                    <a href="User"><img src="~/images/user.png" height="250" width="250" /></a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>

